<form [formGroup]="formGroup" class="form">
  <mat-form-field appearance="outline">
    <mat-label>From</mat-label>
    <mat-select formControlName="from">
      <mat-option
        *ngFor="let symbol of symbolsFrom$ | async"
        [value]="symbol.key"
      >
        <ng-container
          [ngTemplateOutlet]="symbolLabel"
          [ngTemplateOutletContext]="{ symbol: symbol }"
        ></ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button (click)="swapFromTo()">
    <mat-icon>swap_horiz</mat-icon>
  </button>

  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <mat-select formControlName="to">
      <mat-option
        *ngFor="let symbol of symbolsTo$ | async"
        [value]="symbol.key"
      >
        <ng-container
          [ngTemplateOutlet]="symbolLabel"
          [ngTemplateOutletContext]="{ symbol: symbol }"
        ></ng-container>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Value</mat-label>
    <input
      matInput
      type="number"
      formControlName="amount"
    >
  </mat-form-field>

  <span>
    <mat-icon>forward</mat-icon>
  </span>

  <div>
    <ng-container *ngIf="converted$ | async as converted">
      {{ converted.amount }}
      (rate {{ converted.rate }})
    </ng-container>

    <mat-spinner *ngIf="isLoading$ | async" [diameter]="20"></mat-spinner>
  </div>
</form>

<ng-template #symbolLabel let-symbol="symbol">
  {{ symbol.key }} - {{ symbol.name }}
</ng-template>
